.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-header div.user {
  font-size:12px;
  top:8px;
  right:8px;
  text-align:right;
  position:absolute;
}

form.login {
  display: none;
}

.Login-hint {
  padding: 4px;
  font-size:14px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Play-container {
  display: flex;
  height:100vh;
  width:100%;
}

.Play-input {
  box-sizing: border-box;
  font:monospace;
  font-size:20px;
  height:100%;
  min-width:240px;
  width:50ch
  /*width:80ch;*/
}

/* not used yet */
div.Play-input-shadow {
  font:monospace;
  font-size:20px;
  height:100%;
  min-width:240px;
  width:50ch;
}

.Play-output-maximized {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.Play-output {
  flex:1 1 auto;
  border:1px solid #000;
  min-width:240px;
  height:100%;
  background:#fff;
  color:#000;
}

.Play-output > * {
  width:100%;
  height:100%;
  box-sizing:border-box;
  margin:0;
  padding:1em 0;
  overflow:auto
}

.Play-output {
  text-align:left;
}

.HistoryBar pre {
  text-align:left;
}
